.main-container {
  display: flex;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 5px 5px hsl(221, 100%, 96%);
  border-radius: 1cm;
  height: 50vh;
  width: 50%;
  margin: 0;
  padding: 0;
  
}

.left-container {
  flex: 1;
  background: rgb(120,87,255);
  background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 100%);
  border-radius: 1cm;
  color:hsl(0, 0%, 100%);
}

.right-container {
  flex: 1;
  background-color: gray;
  border-radius: 1cm;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


